In [1]:
import numpy as np
import pandas as pd

In [6]:
df = pd.read_csv('fuel_ferc1.csv')
df.head()

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570

In [32]:
#df.dropna()

In [33]:
#df.describe()

<H2>QUESTION 1 </H2>

In [115]:
A = [1,2,3,4,5,6]
B = [13, 21, 34]
A.extend(B)
print(A)

[1, 2, 3, 4, 5, 6, 13, 21, 34]

<H2>QUESTION 2 </H2>

In [22]:
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

<H2>QUESTION 3 </H2>

In [100]:
items = df['fuel_type_code_pudl'].unique()
print('Average of values\n')
for item in items:
    criteria1 = df['fuel_type_code_pudl'] == item
    average = df[criteria1]['fuel_cost_per_unit_burned'].mean()
    print(f'{item}: {average}')

Average of values

coal: 67.42182999883
gas: 13.659396569737071
nuclear: 4955.157002444988
oil: 168.87708568948415
waste: 19.518122448979593
other: 18.253856287425148

<H2>QUESTION 4 </H2>

In [59]:
df['fuel_mmbtu_per_unit'].describe()

count    29523.000000
mean         8.492111
std         10.600220
min          0.000001
25%          1.024000
50%          5.762694
75%         17.006000
max        341.260000
Name: fuel_mmbtu_per_unit, dtype: float64

<H2>QUESTION 5 </H2>

In [60]:
print(df['fuel_qty_burned'].skew())
print(df['fuel_qty_burned'].kurt())

15.851495469109503
651.3694501337732

<H2>QUESTION 6 </H2>

In [37]:
df[.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [118]:
result = (180/len(df['fuel_unit']))*100
round(result,3)

0.609694136774718

In [36]:
 print('Feature: fuel unit, Total: 180, Percent: 0.609')

Feature: fuel unit, Total: 180, Percent: 0.609

<H2>QUESTION 7 </H2>
<br>
<B>CATEGORICAL AND MODE IMPUTATION</B>

<H2>QUESTION 8 </H2>

In [39]:
df.corr()

,utility_id_ferc1,report_year,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
utility_id_ferc1,1.000000,0.093323,-0.057447,-0.066946,-0.037863,-0.016414,0.006122
report_year,0.093323,1.000000,0.012952,-0.110853,0.013599,-0.014043,0.010261
fuel_qty_burned,-0.057447,0.012952,1.000000,-0.080946,-0.018535,-0.003551,-0.001896
fuel_mmbtu_per_unit,-0.066946,-0.110853,-0.080946,1.000000,-0.010034,-0.009039,-0.005884
fuel_cost_per_unit_burned,-0.037863,0.013599,-0.018535,-0.010034,1.000000,0.011007,-0.000437
fuel_cost_per_unit_delivered,-0.016414,-0.014043,-0.003551,-0.009039,0.011007,1.000000,-0.000109
fuel_cost_per_mmbtu,0.006122,0.010261,-0.001896,-0.005884,-0.000437,-0.000109,1.000000

<H2>QUESTION 9 </H2>

In [77]:
fuel = (df['fuel_type_code_pudl'] == 'coal')
year94 = (df['report_year'] == 1994)
year98 = (df['report_year'] == 1998)
fuel_year98 = df[year98 & fuel]
fuel_year94 = df[year94 & fuel]

year98 = fuel_year98['fuel_cost_per_unit_burned'].sum()
year94 = fuel_year94['fuel_cost_per_unit_burned'].sum()

difference = year98-year94
(difference/year94)*100

-20.56765451826053

<H2>QUESTION 10 </H2>

In [114]:
items = df['report_year'].unique()
result = {}
print('Average of values')
for item in items:
    criteria1 = df['report_year'] == item
    result[item] = df[criteria1]['fuel_cost_per_unit_delivered'].mean()

result

Average of values

{1994: 63.63605991902834,
 1995: 32.735268942547876,
 1996: 9196.705947610291,
 1997: 11140.197239488118,
 1998: 287.15442005420044,
 1999: 25.551626666666667,
 2000: 985.3628769118719,
 2001: 60.050396017699114,
 2002: 47.594360995850614,
 2003: 55.66349298100744,
 2004: 139.52427516778525,
 2005: 41.43818439716312,
 2006: 38.65748431214803,
 2007: 43.32502294303797,
 2008: 58.58819706840389,
 2009: 652.6941628477906,
 2010: 91.86210547184773,
 2011: 59.77466693548387,
 2012: 60.99450201126307,
 2013: 172.3075913261051,
 2014: 192.73718274978654,
 2015: 326.53551052150044,
 2016: 103.90176112185686,
 2017: 46.19686102719033,
 2018: 499.2699663512092}